/* ==========================
   VARIÁVEIS
========================== */

$cor-primaria: #6c2cff;
$cor-primaria-escura: #4e1ec4;

$cor-texto: #171717;
$cor-texto-claro: #555;
$cor-texto-suave: #666;

$cor-fundo: #f8f8f8;
$cor-branco: #ffffff;
$cor-escuro: #111111;
$cor-borda: #dddddd;

$fonte-principal: Arial, Helvetica, sans-serif;

$esp-1: .5rem;
$esp-2: 1rem;
$esp-3: 1.5rem;
$esp-4: 2rem;
$esp-5: 3rem;
$esp-6: 4rem;
$esp-7: 5rem;

$radius-sm: .5rem;
$radius-md: 1rem;
$radius-lg: 1.5rem;

$transicao: .3s;

/* Operadores */

$meio-espaco: $esp-2 / 2;
$dobro-espaco: $esp-3 * 2;